/* الخط */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Cairo", sans-serif;
}

body{
    background:#0d1b2a;
    color:white;
    line-height:1.7;
    padding:20px;
}

/* الحاوية */
.container{
    max-width:900px;
    margin:auto;
    background:#0f2236;
    padding:20px;
    border-radius:20px;
    border:1px solid #1b324a;
    box-shadow:0 0 18px rgba(0,0,0,0.2);
}

/* العنوان */
.title{
    text-align:center;
    font-size:32px;
    font-weight:800;
    margin-bottom:10px;
}

/* التاريخ */
.date{
    text-align:center;
    font-size:14px;
    opacity:0.8;
    margin-bottom:20px;
}

/* الصور */
.main-img{
    width: 75%;
    height: 70%;
    border-radius:20px;
    border:4px solid #1e3a56;
    margin-bottom:20px;
    margin: auto;
    display: block;
    padding: 10px ;
}

.images {
    display:grid;
    grid-template-columns:1fr;
    gap:11px;
}

.images img{
    width:30%;
    border-radius:20px;
    border:4px solid #1e3a56;
    margin: auto;
    display: block;
}

/* للتابلت والكمبيوتر */
@media(min-width:700px){
    .images{
        grid-template-columns:1fr 1fr;
    }
}

/* الدعاء */
.duaa{
    margin:25px 0;
    font-size:18px;
    font-weight:600;
    text-align:center;
    line-height:2.2;
}

/* النص */
.text{
    background:#0c1a2c;
    padding:20px;
    border-radius:15px;
    border:1px solid #1b324a;
    font-size:16px;
}

/* الفوتر */
.footer{
    text-align:center;
    margin-top:20px;
    font-size:14px;
    opacity:0.7;

}




